
.gradle
/local.properties
/gradle/wrapper/gradle-wrapper.jar

*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/**/shelf/
/.idea/**/tasks.xml
/.idea/**/dictionaries/


.DS_Store


/build/
/captures/
/.externalNativeBuild
.cxx/


*.keystore
*.jks

proguard/
/*.mapping

node_modules/


*.log
*.tmp
*.swp
*.swo
